<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Go4 Garage</h1>
    <a href="/user/login">User Login</a>
    <a href="/vendor/login">Shopkeeper Login</a>
    <a href="/user/register">Register User</a>
    <a href="/vendor/register">Register Shopkeeper</a>
    <a href="/vendor/list">Show Item List</a>
</body>
</html>